@import './reset.less';

#app {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
}

// 修复table cell 文字没有垂直居中对齐的问题
.nl-table-cell {
  line-height: 40px;
}
span.nl-table-row-indent + .nl-table-row-expand-icon {
  margin-top: 0;
}

span.anticon {
  vertical-align: middle;
}

.nl-collapse > .nl-collapse-item > div.nl-collapse-header {
  padding-left: 8px;
  font-size: 16px;
}
